@font-face {
  font-family: logoFont;
  src: url(Attemptyon-qvYx.ttf);
}

* {
  background-color: black;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.main {
  padding: 0;
  margin: 0 auto;
  width: 50%;
}

.url-form {
  width: 100%;
}

.logo {
  font-family: logoFont;
  color: rgb(255, 207, 75);
  font-size: 6rem;
}