@font-face {
  font-family: logoFont;
  src: url(./Pixelmania.ttf);
}

* {
  /* filter: invert(); */
  font-family: monospace;
  font-weight: bold;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}


.url-form {
  width: 340px;
  margin: 50px auto;
  font-size: 15px;
}

.url-form form {
  margin-top: 20%;
  margin-bottom: 15px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  padding: 30px;
  padding-bottom: 10px;
}

.url-form h2 {
  margin: 0 0 15px;
}

.form-control,
.btn {
  min-height: 38px;
  border-radius: 0% !important;
  border: #33AEFF;
}

.btn {
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.logo {
  font-family: logoFont;
  color: rgb(42, 42, 42);
  margin-top: 15px;
  margin-bottom: 45px;
  font-weight: lighter;
  /* font-size: 4rem; */
}

.error-message {
  font-size: larger;
}

.alert,
.alert-danger {
  border-radius: 0% !important;
  box-shadow: 0px 3px 3px rgba(255, 0, 0, 0.342);
  font-size: 17px;
}

#trimmedUrl,
#copy {
  font-size: 17px;
}

.signature {
  width: 100%;
  position: relative;
  text-align: center;
}

.sign-text {
  position: relative;
  font-weight: lighter;
  font-size: 14px;
  color: dimgray;
}